// Fonts
@import url('https://fonts.googleapis.com/css?family=Oxanium:400,500,600,700|Roboto+Mono&display=swap');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

a {
    color: #0a829a
}

a:hover {
    color: #e2e2e2
}

#sidebar {
    width: 15rem;
    background: #49585b;
    color: #e2e2e2
}

#sidebar ul {
    margin: 0;
    list-style: none;

    li::before {
        content: "\f101";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: -1.3em;
        width: 1.5em
    }

    li::after {
        content: "\f067";
        font-family: FontAwesome;
        display: inline-block;
        margin-right: -1.3em;
        width: 1.5em
    }

    a {
        color: #f2f2f2
    }

}

body {
    font-family: 'Oxanium', 'Roboto Mono';
    font-weight: 400;
    background: $body-bg;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700
}

h5 {
    color: #ff5733
}

#wrapper {
    padding: 0px;
    margin: 0px;

    .sidebar {
        width: 250px;
        min-height: 100vh;
        background: $primaryBackgroundColor;
        color: #323232;
        font-size: 14px;
        position: fixed;
        top: 0px;
        overflow: auto;
        border-right: 1px solid $primaryColor;
        transition: width 0.5s;

        &.closeSidebar {
            // display: none;
            width: 0px;
            // margin-left: -20px;
            transition: width 0.5s
        }

        .header {
            padding: 1rem;
            border-bottom: 1px solid $primaryColor;
            height: 62px;

            img {
                max-width: 218px;
                max-height: 30px;
                margin: 0px;
                padding: 0px
            }

        }

        .menu {
            padding-top: 2rem;
            font-size: 1rem;

            a {
                display: block;
                padding: 16px 8px 16px 16px;
                color: $primaryColor;
                font-weight: 600;
                border-bottom: 1px solid #ccc;

                i {
                    padding-right: 6px;
                }

            }

            a:hover {
                text-decoration: none;
                background: $secondaryBackgroundColor;
                opacity: 1;
            }

            &.active {
                background: $secondaryBackgroundColor;
                border-bottom: 2px solid $primaryColor;
            }

        }

    }

    .page-content {
        background: $secondaryBackgroundColor;
        margin-left: 250px;
        min-height: 100vh;
        width: calc(100% - 250px);

        .navbar {
            background: $primaryColor;
            border-bottom: 1px solid $primaryColor;
        }

        &.closeSidebar {
            margin-left: 0px;
            width: 100%;
            transition: margin-left .5s;
        }

    }

}

.collapse2 {
    margin-left: 0px !important;
    width: 100% !important;
    transition: margin-left .5s
}

.page-content .navbar {
    // background: #f2f2f2;
    // border-bottom: 1px solid #ccc
}

.page-content .breadcrumbs {
    margin-top: 1rem;
    padding: 0.5rem;
    padding-left: 1.25rem;
    width: 100%
}

.box-shadow-menu {
    position: relative;
    padding-left: 1.25em
}

.box-shadow-menu:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 1em;
    height: 0.15em;
    background: black;
    box-shadow: 0 0.25em 0 0 black, 0 0.5em 0 0 black
}
